body {
  background-color: whitesmoke;
}

#form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

input {
  margin-bottom: 10px;
  width: 300px;
  height: 30px;
  border: 2px solid black;
}

#add_book {
  width: 80px;
  height: 30px;
  position: relative;
  left: 112px;
}

.book-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid black;
  width: 600px;
  margin-left: 350px;
}

li {
  list-style: none;
}

hr {
  border: none;
  height: 2px;
  background: black;
  width: 100px;
  margin-top: 15px;
}

#awesome {
  margin-left: 540px;
}

button {
  height: 20px;
  border: 2px solid black;
  border-bottom: 3px solid black;
  border-right: 3px solid black;
  margin-top: 8px;
  margin-right: 10px;
}

.book_number {
  display: flex;
  justify-content: space-between;
  background-color: #ddd;
  margin-bottom: 10px;
  width: 100%;
}
