body {
  padding-left: 30%;
}

hr {
  max-width: 400px;
  position: relative;
  right: 249px;
}

button {
  width: 100px;
  height: 28px;
  border-radius: 3px;
}

#add {
  margin-left: 39px;
}

input {
  border-radius: 5px;
  height: 30px;
  width: 200px;
  margin-left: 39px;
  margin-top: 10px;
  margin-bottom: 10px;
}

h1 {
  margin-left: 39px;
  font-size: 30px;
}

li {
  list-style: none;
}
